<hello name="{{ name }}"></hello>
<p>
	DutchView new controlpanel update
</p>
<div class="container">
	<div class="row">
		<div class="col-8 offset-2">
			<mat-card>
			<mat-tab-group>
				<mat-tab label="control-panel-v1">
					<app-cc></app-cc>
				</mat-tab>

				<mat-tab label="control-panel-v2">
					<app-cc2></app-cc2>
				</mat-tab>

				<mat-tab label="control-panel-inputs-v1">
					<app-form></app-form>
				</mat-tab>

				<mat-tab label="control-panel-inputs-v2">

				</mat-tab>
			</mat-tab-group>
		</mat-card>
		</div>
	</div>

</div>